<div id="main">
  <div class="section-title">
    <h2>ARTISTS</h2>
  </div>
  <div class="artists">
    {{#each artists}}
      <div class="artist" id={{id}} onclick="location.href='www.animaltestingrecords.co/albums/{{id}}';">
        <div class="artist-image-wrapper">
          <img class="artist-image" src="{{images.[0]}}">
        </div>
        <div class="info">
          <p class="name">{{name}}</p>
          <p class="location">{{location.city}}, {{location.state}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<link rel='stylesheet' href='/stylesheets/artists.css' />
