<div id="blog">
    <h2>Blog</h2>
    <div class="card"><p class="center-text">Here 7-11 Jesus discusses important issues, inside and out of music.</p></div>

    <div>
        {{#each posts}}
        <div id={{id}} class="card left-text">
            <h3>{{title}}</h3>
            <img width="95%" src={{image}}></img>
            <br>
            <p>{{breaklines description}}</p>
            
            {{#each sections}}
            <div>
                <h4>{{title}}</h4>
                {{{breaklines html}}}
                <p>{{breaklines body}}</p>                
            </div>
            {{/each}}

            <p>{{author}}</p>
        </div>
        {{/each}}
    </div>

<link rel='stylesheet' href='/stylesheets/blog.css' />
